body {
  text-align: center;
}

.btnCarregar {
  font-size: 1.125rem;
  font-weight: bold;
  width: 250px;
  height: 40px;
  background: none;
  border-radius: 30rem;
  margin-bottom: 2rem;
}

.content {
  font-size: 2rem;
  font-weight: bold;
  color: green;
  align-items: center;
  justify-content: center;
  display: flex;
}

img {
  width: 350px;
}

.carInfo {
  font-size: 1.125rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 1rem;
  color: black;
  text-align: left;
}